/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
  }

body {
    margin-bottom: 60px; /* Margin bottom by footer height */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#sticky-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* height: 60px; Set the fixed height of the footer here */
    /* line-height: 60px; Vertically center the text there */
    background-color: #f5f5f5;
}

#logo {
    text-shadow: 2px 2px black;
}

#thumbnail {
    max-width: 15%;
    min-width: 10%;
    padding: 5px;
    
}

#cover {
    max-width: 300px;
}